@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
  font-family: 'Roboto';
}


.programmingGif {
  position: relative;
  z-index: 9;
  width: 1000px;
  margin-left: 95px;
}

/* .footerVieo{
  width: 1000px;

} */

.myWorkGif {
  width: 350px;
  margin-left: 30px;
}

.headingWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 550px;
  margin-top: 100px;
  align-items: center;
  align-content: center;
}

h1 {
  position: relative;
  z-index: 9;
  font-size: 3rem;
  color: #05364d;
}
.cardText{
  color: #05364d;
}
h2 {
  position: relative;
  z-index: 9;
  color: gray;
}
h3 {
 
  color: gray;
}

/*      Social media icons */
.wrapper {
  position: relative;
  display: inline-flex;
  margin-top: 50px;
  z-index: 9;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 10px 10px rgba(0, 49, 64, 1); */
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

/* CSS */
.button-41 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #46c1f6, #3b5999);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: rgb(228, 228, 228);
  cursor: pointer;
  display: inline-block;
  /* font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif; */
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 150px;
  z-index: 9;
  border: 0;
  /* margin-top: 40px; */
}

.button-41:hover {
  background: #46c1f6;
}

.goo {
  margin-top: 20px;
  background-image: linear-gradient(to top, rgba(0, 49, 64, 1),white, white);
  width: 100%;
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

.myWorkWrapper {
    /* background-image: linear-gradient(to right, #87d6f8, white); */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20px;
}

.holigramgif{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* margin-left: 190px; */
    border-radius: 20px;
    margin-bottom: 100px;
   
    height: 281px;
    width: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}
.aboutInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* align-content: center; */
    /* margin-right: 180px; */
    /* margin-left: 300px; */
    border-radius: 20px;
    /* background-color: red; */
    height: 340px;
    width: 530px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

.hologif{
    width: 700px;
}

.skill {
  margin: 50px;
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 1.5),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-size: 15px;
  font-weight: 600;
  color: #555;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

.html-circle-skill {
  position: absolute;
  top: 0%;
  left: 0%;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 165;
  }
}

.services{
  width:100%;
  height: 600px;
  /* background-image: linear-gradient(to bottom, rgba(0, 49, 64, 1), white); */
}

.serviceInfo{
  margin-top: 100px;
  margin-left: 189px;
width: 500px;
height: 200px;
/* background: #de463b; */
}

.serviceCardWrapper{
  display: flex;
  margin-left: 189px;
  width:max-content;
  height: 300px;
  /* background: #de463b; */
}

.wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serviceCard{
  padding: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  margin-right: 40px;
  width: 340px;
  height: 440px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-align: center;
}
.videoEditCard{
  padding: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("videoEdit.gif");
  /* background-size: 200px; */
  border-radius: 10px;
  margin-right: 40px;
  width: 340px;
  height: 440px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-align: center;
}

#webDevIcon{
  /* position: absolute; */
width:80px;
}
#appIcon{
  /* position: absolute; */
width:160px;
}
#gearsGif{
  margin-bottom: 20px;
  display: none;
  /* margin-left: 10px; */
  /* left:0; */
  z-index: 9;
  position: relative;
  /* position: absolute; */
  width:80px; 
}
#appIconGif{
  margin-bottom: 20px;
  display: none;
  /* margin-left: 10px; */
  /* left:0; */
  z-index: 9;
  position: relative;
  /* position: absolute; */
  width:160px; 
}

#webDevBtn{
  margin-top: 30px;
  background-color: initial;
  /* background-image: linear-gradient(-180deg, #46c1f6, #3b5999); */
  /* border-bottom: outset; */
  /* border-radius: 5px; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px; */
  /* color: rgb(228, 228, 228); */
  color: gray;
  cursor: pointer;
  display: inline-block;
  /* font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif; */
  height: 34px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 10px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 90px;
  z-index: 9;
  border: 1px;
  border-bottom: groove;
  border-color: #46c1f6;
  font-family: 'Roboto';
  font-weight: 550;
  font-size:15px;
}

/* -webkit-linear-gradient(
90deg,#1345e6 0%,#ed239f 100%); */
.brillLogo{
  margin-right: 50px;
  /* margin-top: 10px; */
  width: 100px;
}

.recentWorkWrapper{
  
   /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
  width: 100%;
  height: 1600px;
  /* background: blue; */
}

.workPhotosWrapper{
  margin-top: 100px;
  display: flex;
  width: 1400px;
  height: 1200px;
  /* background: white; */
}

.leftWrapper{
width:100%;
height: 1200px;
/* background: #46c1f6; */
}

.rightWrapper{
width:100%;
height: 1200px;
/* background: #de463b; */
}

.photo1{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* background-image: url("adamMockup.jpeg"); */
  background: #d9d9d9;
  border-top-left-radius: 20px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* background: white; */
  width: 100%;
  margin-bottom: 30px;
  height: 700px;
}
.photo2{
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* background: white; */
  width: 100%;
  height: 350px;
  border-bottom-left-radius: 20px;
}
.photo3{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #d9d9d9;
  border-top-right-radius: 20px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-left: 30px;
  /* background: white; */
  width: 100%;
  height: 250px;
}

.photo4_5Wrapper{
  /* background: #d9d9d9; */
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 30px;
  /* background: white; */
  width: 100%;
  height: 300px;
}
.photo4{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #d9d9d9;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
width: 100%;
height: 300px;
/* background: white; */
}
.photo5{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #d9d9d9;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* background: white; */
  width: 100%;
  height: 300px;
  margin-left: 30px;

}
.photo6{
  
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 30px;
  margin-left: 30px;
  background: #d9d9d9;
  width: 100%;
  height: 470px;
  border-bottom-right-radius: 20px;
}

.footer{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-image: url(flow.gif);
  background-size: 954px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 500px;
}

.padding{
  padding: 10px;
}

.blocker{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 100px;
  margin-top: 9px;
  width: 150px;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background: white;
}

.brillOneLogo{
width: 100px;
}

.logoIntroVid{
  width: 819px;
}
.renwVideo{
  width:500px
}

.photo1Img{
  
  width:550px;
}
.photo2Img{
  margin-top: 20px;
  width:620px;
}

.photo3Img{
  width:420px;
}

.photo5Img{
  width:400px;
}

.dashboard{
  border-radius: 140px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.logoWrapper{
  /* background: #e1306c; */
  width:100%;
  height: 500px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  align-content: center;
}

.logosImg{
  width:1600px;
}